@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: 0;
  border-radius: $button-border-radius;
  text-decoration: $button-text-decoration;
  text-underline-offset: $button-underline-offset;
  letter-spacing: 0.14288rem;
  transition: 275ms ease;


  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }
}
